Claws Mail (claws-mail) update - new version is 4.1.1

Claws Mail (currently in the Unsupported repositories) has been updated per the project web site. It is now on version 4.1.1. Requesting update to the main/plugin packages. Thank you.

https://www.claws-mail.org/news.php

https://www.claws-mail.org/releases.php

```
20th October 2022                           Claws Mail 3.19.1 / 4.1.1

		    CLAWS MAIL  RELEASE NOTES
                    http://www.claws-mail.org/

Claws Mail is a GTK+ based, user-friendly, lightweight, and fast 
email client.

New in this release:
~~~~~~~~~~~~~~~~~~~~

* Marked messages in the Message List can now be displayed with bold
  text by setting the hidden preference "bold_marked".

* The confirmation dialogue when saving all the attachments of a
  message can now be disabled.

* The Message List tooltip for the From column now shows name and
  address.

* OAuth2: various fixes and improvements.

* The user manuals have been updated.

* Updated translations: Brazilian Portuguese, Catalan, Czech, Dutch,
  French, Polish, Russian, Slovak, Spanish, Swedish, Traditional
  Chinese, Turkish.

* Build system: GLib version 2.50 or greater is required; autoconf
  version 2.69 or greater is required; pkgconfig support for GPGME
  and libgpg-error has been added; GnuTLS is required for OAuth2;
  OAuth2 support can be removed with --disable-oauth2.

* bug fixes:
	• bug 4547, '--enable-tests makes compilation fail'
	• bug 4583, 'Compose window 'Discard message' dialog is
		     displayed even though draft is already saved'
	• bug 4584, 'Compose window causing Claws to terminate
		     unexpectedly'
	• bug 4589, 'Edit Group Details panel wording unclear.'
	• bug 4615, 'Compilation fails with --disable-gnutls'
	• bug 4620, 'German translation of Content-Transfer-Encoding
		     adds unwanted colon'
	• bug 4628, 'typos in the README file'
	• bug 4630, 'Fancy loads remote images when remote content
		     is disabled'
	• bug 4636, 'Handle non-ascii characters in server response'
	• AddressKeeper plugin: not saving addresses.
	• Perl plugin: building with perl v5.35.2 or greater.
	• AttRemover plugin: filenames would not be shown and corrupt
	  the output
	• OAuth2: Use the user-configured timeout
	• 'save all' dialogues' logic.
	• Make custom headers compliant with RFC 2822 § 3.6.
	• correctly set modified flag after auto-save
	• NNTP account's SMTP server wasn't used
	• building with older GLibs

For further details of the numbered bugs and RFEs listed above
see https://www.claws-mail.org/bug/[BUG NUMBER]

---------------------------------------------------------------------
See ChangeLog for full information regarding changes in this release.
```

Not sure what to say other than the OP told us he would not use OMLx anymore.